<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AuctionOasis</title>

    <!-- CSS Links -->
    <link rel="stylesheet" href="/style/root.css">
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="/style/livebidding.css">
    <link rel="stylesheet" href="/style/profile.css">
    <link rel="stylesheet" href="/style/live_auction.css">
    <link rel="stylesheet" href="/style/item_details.css">
    <link rel="stylesheet" href="/style/login.css">
    <link rel="stylesheet" href="/style/register.css">
    <link rel="stylesheet" href="/style/wallet.css">
    <link rel="stylesheet" href="/style/error.css">
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <header>
        <section class="nav-section">
            <div class="nav-container">
                <div class="logo-name">
                    <a href="/">AuctionOasis</a>
                    <div id="hamburger-menu" class="hamburger-menu">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </div>
                
                
                <div id="nav-mob" class="search-bar">
                    <form id="input-form" style="width: 100%;" action="/live/auction/search" method="GET">
                        <input type="text" name="search" id="search-input" paceholder="search hear">
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                    <div id="search-suggestions">
                       
                    </div>
                </div>
                
                <div class="nav-links-container">
                    <ul class="nav-links">
                        <li id="nav-mob"><a href="/live/auction">Live Auction</a></li>
                        <% if (isAuthenticated) { %>
                            
                        <li class="nav-mob" id="list-item">
                            <a href="<%= `/profile/${username}` %>"><span><i class="fa-solid fa-plus"></i></span> List Item</a>
                        </li>
                        
                        
                        <!-- Notification & Profile Icons initially visible -->
                        <li  id="notification-icon" style="display: block;">
                            <a href="/"><i class="fa-solid fa-bell"></i></a>
                        </li>
                        <li  id="profile-icon" style="display: block;">
                            <div class="profile-icon-wrapper">
                                <!-- Profile Button -->
                                <p id="profile-btn"><i class="fa-regular fa-user"></i></p>
                    
                                <!-- Profile dropdown menu -->
                                <div class="profile-dropdown" id="profile-dropdown">
                                    <ul>
                                        <li id="username"><%= username || "Not Available" %></li>
                                        <li>
                                            <i id="profile-drop-icon" class="fa-regular fa-user"></i>
                                            <a href=<%= `/profile/${username}` %>>
                                                
                                                Profile
                                            </a>
                                        </li>
                                        <li>
                                            <i id="profile-drop-icon" class="fa-solid fa-box"></i>
                                            <a href="/">My Items</a></li>
                                        <li>
                                            <i id="profile-drop-icon" class="fa-solid fa-wallet"></i>
                                            <a href=<%=`/wallet/${userId}`%>>Wallet </a>
                                        </li>
                                        <li>
                                            <i id="profile-drop-icon" class="fa-solid fa-right-from-bracket"></i>
                                            <a href="/auth/signout">Sign Out</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <% } else { %>
                        <!-- Sign Up Button initially hidden -->
                        <li id="sign-up-btn">
                            <a href="/auth/login">Sign Up</a>
                        </li>
                        <% } %>
                    </ul>
                    
    
                </div>
    
            </div>
        </section>
    </header>
