.error-section {
    padding: 50px 10%;
    text-align: center;
}

.error-container {
    background: var(--primary-bg-color);
    border-radius: var(--border-radius);
    padding: 40px;
    box-shadow: var(--box-shadow);
    display: inline-block;
    max-width: 600px;
    width: 100%;
}

.error-container h1 {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 20px;
}

.error-status {
    font-size: 1.1rem;
    color: #e74c3c;  /* Red for error status */
    margin-bottom: 20px;
}

.error-message {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 30px;
}

.btn-return-home {
    padding: var(--btn-padding);
    background-color: var(--primary-color);
    color: var(--primary-btn-font-color);
    text-decoration: none;
    border-radius: var(--border-radius);
    display: inline-block;
}

.btn-return-home:hover {
    background-color: var(--secondary-color);
}
